{{#partial "content"}}
    <div class="row">
        <div class="col-md-10">
            <h3>Sightings Details</h3>

            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>AnimalId</th>
                </tr>
                </thead>
                <tbody>
                {{#each sightings}}
                    <tr>
                        <td>{{ranger}}</td>
                        <td>{{location}}</td>
                        <td>{{animalId}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <style>
         .row{
            font-family: 'Acme', sans-serif;
            font-size: 21px;
            }
    </style>
{{/partial}}

{{> layout.hbs}}