<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Welcome| Wildlife Tracker{{/block}}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a class="active" href="/">Home</a></li>
    <li role="presentation"><a href="/Animals-form">Animals form</a></li>
    <li role="presentation"><a href="/Animals">Animal Details</a></li>
    <li role="presentation"><a href="/sightings-form">Sightings form</a></li>
    <li role="presentation"><a href="/sightingsdisplay">Sightings Details</a></li>
</ul>
<div class="container">
    <div class="page-header">

    </div>
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
</div>
{{#block "footer"}}
    <style>
        .nav{
             font-family: 'Acme', sans-serif;
    font-size: 21px;
        }

    </style>
    </body>
    </html>
{{/block}}